<div class="col-md-6 offset-md-3">
    <h3> Defective Form </h3>
    <form (ngSubmit) = "onSubmit()">
       
        <div class="form-group">
            <label>UserName</label>
            {{userName}}
        </div>
    
        <div class="form-group">
            <label>Contact Number</label>
            <input  class ="form-control" id = "contactNumber"
            [(ngModel)] = "processRequestInfo.contactNumber" name = "contactNumber" value={{contactNumber}}/>
        </div>

        <div class="form-group">
            <label>Component Name : </label>
            <input  class ="form-control" id = "componentName"
            [(ngModel)] = "processRequestInfo.defectiveComponentInfo.componentName" name = "componentName"/>
        </div>

        <div class="form-group">
        <label>Component Type : </label>
        <select id="form-control" name="form-control" [(ngModel)] = "processRequestInfo.defectiveComponentInfo.componentType">
            <option value="Integral">Integral</option>
            <option value="Accessory">Accessory</option>
          </select>
        </div>

        <div class="form-group">
            <label>Quantity : </label>
            <input  class ="form-control" id = "quantity"
            [(ngModel)] = "processRequestInfo.defectiveComponentInfo.quantity" name = "quantity"/>
        </div>

        <div class="form-group">
            <label>Description</label>
            <input  class ="form-control" type="text" id = "description"
            [(ngModel)] = "processRequestInfo.defectiveComponentInfo.description" name = "description"/>
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
    <router-outlet></router-outlet>
