<div class="col-md-6 offset-md-3">
    <h3> Defective Form </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label>UserName</label>
            <input type="text" class ="form-control" id = "username"
                [(ngModel)] = "processRequestInfo.userName" name = "username"/>
        </div>
    
        <div class="form-group">
            <label>Contact Number</label>
            <input  class ="form-control" id = "contactNumber"
            [(ngModel)] = "processRequestInfo.contactNumber" name = "contactNumber"/>
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
    <router-outlet></router-outlet>
